.fastest {
  &-container {
    margin: 0 auto;
  }
  &-header {
    text-align: center;
  }
  &-type {
    font-size: 36px;
    line-height: calc(42 / 36);
    color: #f3cd03;
    font-weight: 450;
    margin-bottom: 17px;
  }
  &-heading {
    margin-bottom: 10px;
  }
  &-content {
    max-width: 459px;
    margin: 0 auto;
  }
}
