.fastest {
  margin-bottom: 162px;
  &-container {
    margin: 0 auto;
  }
  &-header {
    text-align: center;
  }
  &-type {
    font-size: 36px;
    line-height: calc(42 / 36);
    color: #f3cd03;
    font-weight: 450;
    margin-bottom: 17px;
  }
  &-heading {
    margin-bottom: 10px;
  }
  &-content {
    max-width: 459px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 13px;
  }
  @media screen and (max-width: 767px) {
    display: grid;
    grid-template-columns: 1;
  }
}
