.features {
  &-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 100px 0;
  }
  &-firsd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 60px;
  }
}
