.features {
  margin-bottom: 62px;
  position: relative;
  &-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px 0;
    margin: 0 20px;
  }
  &-firsd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 60px;
    max-width: 1045px;
  }

  &-heading {
    font-size: 36px;
    line-height: calc(42 / 36);
    font-weight: 450;
    margin-bottom: 16px;
  }
  &-content {
    margin-bottom: 20px;
    max-width: 424px;
  }
  &-more {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 18px;
    line-height: calc(20 / 18);
    font-weight: 450;
    color: $primary-color;
  }
  &-seconds {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 50px;
    max-width: 966px;
  }
  &-vector1 {
    position: absolute;
    right: 100%;
  }
}
