.lightning {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 25px;
    margin: 0 auto;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.22) 7.62%,
      rgba(0, 225, 198, 0.06) 25.5%,
      #ffffff 70.92%
    );
  }
  &-header {
    text-align: center;
  }
  &-heading {
    max-width: 510px;
    font-weight: 900;
    font-size: 72px;
    line-height: calc(78 / 72);
    color: $secondary-color;
    margin-bottom: 27px;
  }
  &-content {
    max-width: 544px;
    margin-bottom: 84px;
  }
}
