.lightning {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 25px;
    position: relative;
  }
  &-header {
    text-align: center;
    max-width: 544px;
  }
  &-heading {
    max-width: 510px;
    font-weight: 900;
    font-size: 72px;
    line-height: calc(78 / 72);
    color: $secondary-color;
    margin-bottom: 27px;
  }
  &-content {
    margin-bottom: 84px;
  }
  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 25px;
    margin-bottom: 45px;
  }
  &-vector1 {
    position: absolute;
    left: 0;
    bottom: -50%;
  }
  &-vector2 {
    position: absolute;
    right: 0;
    bottom: -65%;
  }
  &-img {
    position: absolute;
    bottom: -13%;
    left: 20px;
    z-index: 99;
  }
}
