.lightning {
  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-header {
    max-width: 510px;
  }
  &-heading {
    font-weight: 900;
    font-size: 72px;
    line-height: calc(78 / 72);
  }
}
