.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 41px;
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-link {
    color: inherit;
    font-size: 20px;
    &:after {
      display: block;
      content: "";
      border-bottom: solid 2px $primary-color;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
    &:hover {
      color: $primary-color;
    }
  }
  @media screen and (max-width: 767px) {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(149, 157, 165, 0.2);
  }
}
