.pricing {
  background: #182333;

  &-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 165px;
    padding: 100px 0;
  }
  &-content {
    max-width: 437px;
  }
  &-heading {
    color: white;
    margin-bottom: 16px;
  }
  &-desc {
    color: white;
  }
}
