.pricing {
  background: #182333;

  &-container {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 165px;
  }
  &-heading {
    color: white;
  }
}
