.testimonial {
  &-container {
    text-align: center;
    padding-top: 62px;
  }
  &-heading {
    margin-bottom: 50px;
  }
  &-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  &-content {
    max-width: 480px;
    margin: 0 auto;
    font-size: 19px;
    line-height: calc(30 / 19);
    color: $text-color;
    margin-bottom: 50px;
  }

  &-author {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-desc {
    margin-left: 13px;
    left: 0;
  }
  &-name {
    font-size: 18px;
    line-height: calc(20 / 18);
    font-weight: 450;
    color: #20262a;
  }
  &-job {
    font-size: 18px;
    line-height: calc(28 / 18);
    color: $text-color;
    font-weight: 450;
  }
}
